* {
    font-family: sans-serif;
}
.top_page{
  background-image: url("/imgs/hero-cover.3.png"); 
  background-repeat: no-repeat; 
  height: 80vh;
  width: 360vh;
}
#nav_buttons ul{
    list-style: none;
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: center;
}
.nav_bar{
    display: flex;
    align-items: center;
}
.packages{
    background-color: #FFFFFF;
    
}
#pricing{
    align-items: center;
    position: relative;
    text-align: center;
}
.packages_box{
    display: flex;
    flex-direction: row;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;  
}
#free{
    border: 1px solid #23A6F0;
    border-radius: 7px;
    background-color: white;
    padding: 15px;
    height: 360px;
    
}
#free:hover{
    background-color: #252B42;
    color: white;
    transform: translateY(-7px);
  transition: transfom.3s;
}
#standard{
    border: 1px solid #23A6F0;
    border-radius: 7px;
    background-color: white;
    padding: 15px;
    height: 360px;
}
#standard:hover{
    background-color: #252B42;
    color: white;
    transform: translateY(-7px);
  transition: transfom.3s;
}
#premium{
    border: 1px solid #23A6F0;
    border-radius: 7px;
    background-color: white;
    padding: 15px;
    height: 360px;
}
#premium:hover{
    background-color: #252B42;
    color: white;
    transform: translateY(-7px);
  transition: transfom.3s;
}
.packages_box button{
    background-color: #23A6F0;
    color: #FFFFFF;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    text-align: center;
}
.branches{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    background-color: #252B42;
}
.branches img{
    height: 150px;
    width: 300px;
    padding: 30px;

}

.end-btn {
    margin-top: 2vw;
    background-color: #23A6F0;
    border: none;
    width: 30vw;
    height: 7vw;
    font-size: 2vw;
    color: #FFFFFF;
    border-radius: 1.0vw;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
  }
  
  .end-btn i {
    float: right;
  }
table{
    text-align: left;
    margin: auto;
    align-items: center;
    background: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height:200px;
    box-shadow: white;
}
td{
    padding: 7px;
}
.copyright{
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 30px;
    box-shadow: 0 0 0.6px;
}
#copyicons{
  position: absolute;
  right: -10px;
}
#copyicons img{
    height: 50px;
    margin-right: 200px;
}
#copytext{
    margin-left: 100px;
}