* {
    font-family: sans-serif;
}

.end-btn {
    margin-top: 2vw;
    background-color: #23A6F0;
    border: none;
    width: 30vw;
    height: 7vw;
    font-size: 2vw;
    color: #FFFFFF;
    border-radius: 1.0vw;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
  }
  
  .end-btn i {
    float: right;
  }
table{
    text-align: left;
    margin: auto;
    align-items: center;
    background: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height:200px;
    box-shadow: white;
}
td{
    padding: 7px;
}
.copyright{
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 30px;
    box-shadow: 0 0 0.6px;
}
#copyicons{
  position: absolute;
  right: -10px;
}
#copyicons img{
    height: 50px;
    margin-right: 200px;
}
#copytext{
    margin-left: 100px;
}